# Zależności
node_modules/

# Build frontendu
frontend/dist/

# Dane i logi backendu
backend/data/
backend/logs/

# Konfiguracja lokalna
.env
*.log

# skrypt pomocniczy do generowania PDF
make_doc.py
